Repository gesseld/aifile2: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        exclude: ^(venv/|\.venv/|node_modules/)
        args: [--line-length=88]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        exclude: ^(venv/|\.venv/|node_modules/)
        args: [--max-line-length=88, --extend-ignore=E203, W503]

  - repo: https://github.com/pycqa/pylint
    rev: v3.3.1
    hooks:
      - id: pylint
        exclude: ^(venv/|\.venv/|node_modules/)
        args: [--max-line-length=88]

  - repo: local
    hooks:
      - id: eslint
        name: eslint
        entry: eslint
        language: node
        files: \.(js|jsx|ts|tsx)$
        exclude: ^(venv/|\.venv/|node_modules/)
        additional_dependencies: [eslint@^8.57.0]

      - id: prettier
        name: prettier
        entry: prettier
        language: node
        files: \.(js|jsx|ts|tsx|json|md|yaml|yml|css|scss|html)$
        exclude: ^(venv/|\.venv/|node_modules/)
        args: [--write]
        additional_dependencies: [prettier@^3.3.0]

Initial commit: Full-stack aifile2 project
  .gitignore
  .prettierrc
  README.md
  backend/app/__pycache__/main.cpython-39.pyc
  backend/app/api/v1/routers/__pycache__/example.cpython-39.pyc
  backend/app/api/v1/routers/example.py
  backend/app/main.py
  eslint.config.js
  node_modules/flatted/python/flatted.py
Due: eslint, prettier

Update configuration files
  backend/Dockerfile
  backend/app/__init__.py
  backend/app/__pycache__/main.cpython-39.pyc
  backend/app/main.py
  backend/docker-compose.yml
  backend/setup.py
  proxy_main.py
Due: prettier

Add Redis cache helper package with TTL, tags, and cache-aside pattern support
  .gitignore
  .pre-commit-config.yaml
  services/redis_cache/.eslintrc.js
  services/redis_cache/README.md
  services/redis_cache/docker-compose.yml
  services/redis_cache/package-lock.json
  services/redis_cache/package.json
  services/redis_cache/src/cache-client.ts
  services/redis_cache/src/index.ts
  services/redis_cache/tsconfig.json
Due: eslint, prettier

test: add test_api.py for testing
  test_api.py
Due: none

docs: add API test successful comment
  test_api.py
Due: none

test: add test_kimi.py
  test_kimi.py
Due: none

test: add success comment for kimi-k2-0711-preview model
  test_kimi.py
Due: none

test: add test_claude.py file for new test suite
  test_claude.py
Due: none

docs: add comment to test_claude.py
  test_claude.py
Due: none

test: add test_claude4.py file for new test suite
  test_claude4.py
Due: none

docs: add comment about Claude Sonnet 3.7 test
  test_claude4.py
Due: none

test: add test_claude_latest.py
  test_claude_latest.py
Due: none

refactor: update test message to focus on Claude 4 Sonnet only
  test_claude_latest.py
Due: none

test: update test to check Claude 4 Opus availability
  test_claude_latest.py
Due: none

test: add test_qwen.py file
  test_qwen.py
Due: none

test: update print statement for DashScope testing
  test_qwen.py
Due: none

chore: update test message to specify Qwen Plus model testing
  test_qwen.py
Due: none

test: add qwen instruct test case
  test_qwen_instruct.py
Due: none

test: update model name to Qwen3 Coder Instruct
  test_qwen_instruct.py
Due: none

fix: update test message for Qwen Coder Plus model
  test_qwen_instruct.py
Due: none

fix(repo): undo accidental mass add; harden .gitignore; commit only testid updates for StatusBar/UnifiedActionBar
  .gitignore
  apps/web-v2/src/components/file-browser/StatusBar.tsx
  apps/web-v2/src/components/file-browser/UnifiedActionBar.tsx
Due: eslint, prettier

testid(ui): add stable selectors for sidebar items and file row checkboxes (data-testid=sidebar-item-*, file-checkbox-<id>) – no visual changes
  apps/web-v2/src/components/file-browser/FileBrowserShell.tsx
  apps/web-v2/src/components/file-browser/LeftTree.tsx
Due: eslint, prettier

testid(ui): add stable selectors for breadcrumb segments and details panel controls (details panel root/name/desc/save/share). No visual changes.
  apps/web-v2/src/components/file-browser/FileBrowserShell.tsx
  apps/web-v2/src/components/file-browser/FileDetailsPanel.tsx
Due: eslint, prettier

ui(StatusBar): Tailwind-only visual refactor using tokens (bg-[var(--surface)], border-[var(--border)], text-[var(--foreground)]). Preserved all logic/events; kept data-testid guards.
  apps/web-v2/src/components/file-browser/StatusBar.tsx
Due: eslint, prettier

feat(ui-refresh): PR #2 — add AI Relevance toolbar button (data-testid=toolbar-ai) with stable CustomEvent bridge
  apps/web-v2/src/components/file-browser/UnifiedActionBar.tsx
Due: eslint, prettier

feat(ui-refresh): PR #1 — StatusBar Tailwind-only refactor + tokens + data-testids (logic unchanged)
  apps/web-v2/src/components/file-browser/StatusBar.tsx
Due: eslint, prettier

feat(ui-refresh): PR #2 — Toolbar/Search/Breadcrumb visuals + AI toggle (data-testid=toolbar-ai); stable selectors; no logic changes
  apps/web-v2/src/components/file-browser/UnifiedActionBar.tsx
Due: eslint, prettier

chore(web-v2): bootstrap Tailwind and tokenized globals; enable attribute-driven modes (dark, high-contrast, density, text-zoom, reduced-motion)
  apps/web-v2/postcss.config.js
  apps/web-v2/src/app/globals.css
  apps/web-v2/tailwind.config.ts
Due: eslint, prettier

docs(PR#1): add checklist + screenshots/a11y/bundle notes for StatusBar refactor
  docs/pr-ui-refresh-statusbar.md
Due: prettier

docs(PR#1): include StatusBar PR notes
  docs/pr-ui-refresh-statusbar.md
Due: prettier

chore(web-v2): bootstrap Next.js app with Tailwind tokens; fix PostCSS ESM/CJS; dev server on 3001
  apps/web-v2/package.json
  apps/web-v2/postcss.config.cjs
  apps/web-v2/src/app/layout.tsx
  apps/web-v2/src/app/next-env.d.ts
  apps/web-v2/src/app/page.tsx
  apps/web-v2/tsconfig.json
Due: eslint, prettier

chore(web-v2): add /files route stub to avoid 404 and unblock UI work
  apps/web-v2/src/app/files/page.tsx
Due: eslint, prettier

feat(web-v2): PR #2 — Sidebar + Search/Breadcrumb/Toolbar visual refresh
  apps/web-v2/next-env.d.ts
  apps/web-v2/next.config.ts
  apps/web-v2/package-lock.json
  apps/web-v2/package.json
  apps/web-v2/postcss.config.js
  apps/web-v2/src/components/file-browser/FileBrowserShell.tsx
  apps/web-v2/src/components/file-browser/FileDetailsPanel.tsx
  apps/web-v2/src/components/file-browser/LeftTree.tsx
  apps/web-v2/src/components/file-browser/UnifiedActionBar.tsx
  apps/web-v2/src/components/file-browser/__tests__/LeftTree.spec.tsx
  apps/web-v2/src/components/file-browser/__tests__/StatusBar.spec.tsx
  apps/web-v2/src/components/file-browser/__tests__/UnifiedActionBar.spec.tsx
  apps/web-v2/src/lib/action-registry.ts
  apps/web-v2/src/test-stubs/ContextMenu.tsx
  apps/web-v2/src/test-stubs/SettingsPanel.tsx
  apps/web-v2/src/test-stubs/file-manager-client.ts
  apps/web-v2/src/types/shims.d.ts
  apps/web-v2/vitest.config.ts
  apps/web-v2/vitest.setup.ts
  docs/PR1_BODY.md
  docs/PR2_BODY.md
  docs/pr-ui-refresh-statusbar.md
  package.json
Due: eslint, prettier

PR #4: File Details panel visual refresh + Ask-AI adapter, tests, and docs
  apps/web-v2/src/components/file-browser/FileDetailsPanel.tsx
  apps/web-v2/src/components/file-browser/__tests__/FileDetailsPanel.spec.tsx
  apps/web-v2/src/lib/__tests__/ai-adapter.spec.ts
  apps/web-v2/src/lib/ai-adapter.ts
  docs/PR4_BODY.md
Due: eslint, prettier

Chore: ESLint TS parser override + pre-commit hooks cleanup to unblock PR #4
  .pre-commit-config.yaml
  eslint.config.js
Due: eslint, prettier
